<% include ../../includes/proveAssignments/prove02-header.ejs %>              
      <form action="../proveAssignments/02/booklist" method="POST">       
        <div class="flex-row">
          <label for="booktitle">Book Title</label>
          <input type="text" id="booktitle" name="booktitle" placeholder="Title">                
        </div>
        <div class="flex-row">
          <label for="author">Author</label>
          <input type="text" id="author" name="author" placeholder="Author's Name">
        </div>
        <div class="flex-row">
          <label for="description">Description</label>
          <textarea id="description" name="description" placeholder="Book Summary"></textarea>        
        </div>
        <button type="submit">Submit</button>
      </form>      
<% include ../../includes/proveAssignments/prove02-footer.ejs %>

