<% include ../../includes/proveAssignments/prove02-header.ejs %>             
<% if (books.length > 0) { %>  
  <ul class="bookList">
    <% for(let b of books) { %>
      <li class='book'>
        <span class="title"><%= b.booktitle %></span> - <%= b.author  %>
        <div>
          <%= b.description %>
        </div>        
      </li>
    <% } %>
  </ul>
<% } else { %>
  <h2>No books found</h2> 
<% } %> 
<% include ../../includes/proveAssignments/prove02-footer.ejs %>

