.card {
  border: 1px solid darkgray;
  border-radius: 5px;
  box-shadow: 10px 10px 2px 1px rgba(50, 50, 50, 0.6);
  margin: 20px;
  padding: 10px 5px;
  width: 330px;
}

.card img {
  width: 300px;
  height: auto;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  color: white;
}

.hero {
  color: rgb(131, 59, 138);
  font-weight: bold;
}

.form {
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  width: 80%;
  margin: 5px auto;  
}

input {
  margin-left: 10px;  
  width: 200px;
  color: black;
}

