@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {  
  box-sizing: border-box;  
}

body {
  background-color: rgb(219, 219, 219);  
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.main-header {     
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.dark {
  background-color: rgb(15, 15, 15); 
}

.lighter {
  background-color: rgb(41, 41, 41); 
}

.main-header_nav {      
  width: 100%;  
  padding: 0px;
  margin: 0px auto;
  display: flex;
}

.split-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
}

.main-header_list {    
  display: flex;
  flex-direction: row;  
  align-items: center;
  list-style: none; 
  margin: 0px; 
  padding: 2px;  
}

.main-header_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1px 15px;
  padding: 5px 10px;  
}

.main-header_list li:hover {
  outline: 1px solid white;
}

.main-header_list a {
  text-decoration: none;
  color: white;
}

.nav-icon {
  height: 3rem;
  width: auto;
}

#cart {
  height: 2.5rem;
}

.main-header_list a:active,
.main-header_list a.active {
  color: #ffeb3b;  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(41, 41, 41); ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 1;
  left: 0px;
  top: 32px;  
}

.triangle {
  border-bottom: 4px solid white;
  border-left: 4px solid rgba(255,255,255,0);
  border-right: 4px solid rgba(255,255,255,0);
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: center;
  width: 0;
  transform: rotate(180deg);  
  margin: 0px 3px;
  padding-top: 2px;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover .dropdown-menu {
  display: block;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid goldenrod;
  color: goldenrod;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: goldenrod;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.text-btn {
  background-color: transparent;
  color: white;
  border: none;
  font: inherit; 
  cursor: pointer;
}