<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/prove01.css" />
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <nav class="nav navbar indent">
    <a class="navbutton <%= path === '/proveAssignments/02' ? 'active' : ''%>" href="/proveAssignments/02">Add Book</a> |
    <a class="navbutton <%= path === '/proveAssignments/02/booklist' ? 'active' : ''%>" href="/proveAssignments/02/booklist">View Books</a> |
  </nav>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
